.user-box {
	max-width: 700px;
	width: 100%;
	margin: 20px 0 20px 0;
	box-shadow: var(--box-shadow);
	border-radius: 15px;
	background-color: var(--component);
	padding: 30px 25px 30px 25px;

	a {
		text-decoration: none;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: var(--font);
	}

	.cell_avatar {
		float: left;
		
		margin-right: 25px;
		img {
			border-radius: 50%;
			width: 70px;
			height: 70px;
		}
	}
	.user_info_grid {
		.cell_data {
			display: flex;
			flex-direction: column;
			height: 100%;
			line-height: 20px;

			.name {
				color: var(--font-header);
				font-size: 16px;
				font-weight: 700;
			}
			.login {
				color: var(--button);
				margin-bottom: 10px;
			}
			.created {
				color: var(--font);
				font-weight: 400;
				font-size: 13px;
				line-height: 19px;
			}
		}
	}

	.user-decription {
		margin-top: 30px;
		color: var(--font);
		font-weight: 400;
		font-size: 13px;
		line-height: 25px;
	}
	.status_grid {
		margin-top: 30px;
		border-radius: 10px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-column-gap: 5px;
		grid-row-gap: 1px;
		padding: 20px;
		background-color: var(--background);

		.columns {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.title {
				color: var(--font);
				font-size: 11px;
				line-height: 16px;
			}
			.count {
				margin-top: 10px;
				font-weight: 700;
				font-size: 16px;
				line-height: 24px;
				color: var(--font-header);
			}
		}
	}
	.user-contact {
		margin-top: 30px;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto;
		grid-column-gap: 5px;
		grid-row-gap: 1px;
		.icon_p {
			display: flex;
			align-items: center;
			padding: 0px 0 15px 0;
			color: var(--font);
			font-weight: 400;
			font-size: 15px;
			line-height: 22px;
			a {
				text-decoration: none;
				font-weight: 400;
				font-size: 16px;
				line-height: 22px;
				color: var(--font);
			}
			i {
				width: 20px;
				color: var(--font);
				margin-right: 20px;
				font-size: 20px;
			}
		}
		.empty {
			padding: 0px 0 15px 0;
			color: var(--font);
			opacity: 0.5;
			i {
				width: 20px;
				margin-right: 20px;
				font-size: 20px;
			}
		}
	}
}

// Tablet styles

@media screen and (min-width: 800px) {
	.user-box {
		padding: 50px 40px 50px 40px;
		.user-contact {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			.icon_p {
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

// Desktop Styles

@media screen and (min-width: 1000px) {
	.user-box {
		
		.cell_avatar {
			height: 400px;
		}

		
	}
}
