.search-bar {
    margin-top: 2rem;
    background-color: var(--component);
    display: flex;
    height: 60px;
   align-items: center;
   justify-content: space-around;
   .search-icon {

   }

   .search-input {

   }

   .search-btn {
    
   }
}