.navbar {
	display: flex;
    justify-content: space-between;
	align-items: center;
	color: var(--font-header);
	
	.header {
		color: var(--front);
		font-size: 26px;
	}

	.toggle {
        display: flex;
        height: 50px;
        align-items: center;
		cursor: pointer;
		p {
			text-transform: uppercase;
			padding-right: 1rem;
			font-weight: 700;
			font-size: 13px;
			line-height: 19px;
			color: var(--font);
			letter-spacing: 2.5px;
		}
		
		.icon {
			height: 20px;
			width: 20px;
		}
	}
}
